@font-face {
  font-family: "Tangba11";
  src: url("woff2/Tangba11.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba11";
  src: url("woff2/Tangba11-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba12";
  src: url("woff2/Tangba12.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba12";
  src: url("woff2/Tangba12-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba13";
  src: url("woff2/Tangba13.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba13";
  src: url("woff2/Tangba13-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba14";
  src: url("woff2/Tangba14.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba14";
  src: url("woff2/Tangba14-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba15";
  src: url("woff2/Tangba15.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba15";
  src: url("woff2/Tangba15-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba16";
  src: url("woff2/Tangba16.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba16";
  src: url("woff2/Tangba16-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba17";
  src: url("woff2/Tangba17.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba17";
  src: url("woff2/Tangba17-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba18";
  src: url("woff2/Tangba18.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba18";
  src: url("woff2/Tangba18-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba19";
  src: url("woff2/Tangba19.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba19";
  src: url("woff2/Tangba19-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba20";
  src: url("woff2/Tangba20.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba20";
  src: url("woff2/Tangba20-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba21";
  src: url("woff2/Tangba21.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba21";
  src: url("woff2/Tangba21-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba22";
  src: url("woff2/Tangba22.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba22";
  src: url("woff2/Tangba22-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba23";
  src: url("woff2/Tangba23.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba23";
  src: url("woff2/Tangba23-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba24";
  src: url("woff2/Tangba24.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba24";
  src: url("woff2/Tangba24-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tangba25";
  src: url("woff2/Tangba25.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tangba25";
  src: url("woff2/Tangba25-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "TangbaMono11";
  src: url("woff2/TangbaMono11.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono11";
  src: url("woff2/TangbaMono11-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono12";
  src: url("woff2/TangbaMono12.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono12";
  src: url("woff2/TangbaMono12-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono13";
  src: url("woff2/TangbaMono13.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono13";
  src: url("woff2/TangbaMono13-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono14";
  src: url("woff2/TangbaMono14.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono14";
  src: url("woff2/TangbaMono14-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono15";
  src: url("woff2/TangbaMono15.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono15";
  src: url("woff2/TangbaMono15-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono16";
  src: url("woff2/TangbaMono16.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono16";
  src: url("woff2/TangbaMono16-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono17";
  src: url("woff2/TangbaMono17.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono17";
  src: url("woff2/TangbaMono17-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono18";
  src: url("woff2/TangbaMono18.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono18";
  src: url("woff2/TangbaMono18-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono19";
  src: url("woff2/TangbaMono19.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono19";
  src: url("woff2/TangbaMono19-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono20";
  src: url("woff2/TangbaMono20.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono20";
  src: url("woff2/TangbaMono20-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono21";
  src: url("woff2/TangbaMono21.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono21";
  src: url("woff2/TangbaMono21-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono22";
  src: url("woff2/TangbaMono22.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono22";
  src: url("woff2/TangbaMono22-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono23";
  src: url("woff2/TangbaMono23.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono23";
  src: url("woff2/TangbaMono23-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono24";
  src: url("woff2/TangbaMono24.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono24";
  src: url("woff2/TangbaMono24-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono25";
  src: url("woff2/TangbaMono25.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TangbaMono25";
  src: url("woff2/TangbaMono25-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

.tangba11 {
  font-family: "Tangba11", sans-serif;
  font-weight: 400;
}
.tangba11-bold {
  font-family: "Tangba11", sans-serif;
  font-weight: 700;
}
.tangba12 {
  font-family: "Tangba12", sans-serif;
  font-weight: 400;
}
.tangba12-bold {
  font-family: "Tangba12", sans-serif;
  font-weight: 700;
}
.tangba13 {
  font-family: "Tangba13", sans-serif;
  font-weight: 400;
}
.tangba13-bold {
  font-family: "Tangba13", sans-serif;
  font-weight: 700;
}
.tangba14 {
  font-family: "Tangba14", sans-serif;
  font-weight: 400;
}
.tangba14-bold {
  font-family: "Tangba14", sans-serif;
  font-weight: 700;
}
.tangba15 {
  font-family: "Tangba15", sans-serif;
  font-weight: 400;
}
.tangba15-bold {
  font-family: "Tangba15", sans-serif;
  font-weight: 700;
}
.tangba16 {
  font-family: "Tangba16", sans-serif;
  font-weight: 400;
}
.tangba16-bold {
  font-family: "Tangba16", sans-serif;
  font-weight: 700;
}
.tangba17 {
  font-family: "Tangba17", sans-serif;
  font-weight: 400;
}
.tangba17-bold {
  font-family: "Tangba17", sans-serif;
  font-weight: 700;
}
.tangba18 {
  font-family: "Tangba18", sans-serif;
  font-weight: 400;
}
.tangba18-bold {
  font-family: "Tangba18", sans-serif;
  font-weight: 700;
}
.tangba19 {
  font-family: "Tangba19", sans-serif;
  font-weight: 400;
}
.tangba19-bold {
  font-family: "Tangba19", sans-serif;
  font-weight: 700;
}
.tangba20 {
  font-family: "Tangba20", sans-serif;
  font-weight: 400;
}
.tangba20-bold {
  font-family: "Tangba20", sans-serif;
  font-weight: 700;
}
.tangba21 {
  font-family: "Tangba21", sans-serif;
  font-weight: 400;
}
.tangba21-bold {
  font-family: "Tangba21", sans-serif;
  font-weight: 700;
}
.tangba22 {
  font-family: "Tangba22", sans-serif;
  font-weight: 400;
}
.tangba22-bold {
  font-family: "Tangba22", sans-serif;
  font-weight: 700;
}
.tangba23 {
  font-family: "Tangba23", sans-serif;
  font-weight: 400;
}
.tangba23-bold {
  font-family: "Tangba23", sans-serif;
  font-weight: 700;
}
.tangba24 {
  font-family: "Tangba24", sans-serif;
  font-weight: 400;
}
.tangba24-bold {
  font-family: "Tangba24", sans-serif;
  font-weight: 700;
}
.tangba25 {
  font-family: "Tangba25", sans-serif;
  font-weight: 400;
}
.tangba25-bold {
  font-family: "Tangba25", sans-serif;
  font-weight: 700;
}

.tangbamono11 {
  font-family: "TangbaMono11", monospace;
  font-weight: 400;
}
.tangbamono11-bold {
  font-family: "TangbaMono11", monospace;
  font-weight: 700;
}
.tangbamono12 {
  font-family: "TangbaMono12", monospace;
  font-weight: 400;
}
.tangbamono12-bold {
  font-family: "TangbaMono12", monospace;
  font-weight: 700;
}
.tangbamono13 {
  font-family: "TangbaMono13", monospace;
  font-weight: 400;
}
.tangbamono13-bold {
  font-family: "TangbaMono13", monospace;
  font-weight: 700;
}
.tangbamono14 {
  font-family: "TangbaMono14", monospace;
  font-weight: 400;
}
.tangbamono14-bold {
  font-family: "TangbaMono14", monospace;
  font-weight: 700;
}
.tangbamono15 {
  font-family: "TangbaMono15", monospace;
  font-weight: 400;
}
.tangbamono15-bold {
  font-family: "TangbaMono15", monospace;
  font-weight: 700;
}
.tangbamono16 {
  font-family: "TangbaMono16", monospace;
  font-weight: 400;
}
.tangbamono16-bold {
  font-family: "TangbaMono16", monospace;
  font-weight: 700;
}
.tangbamono17 {
  font-family: "TangbaMono17", monospace;
  font-weight: 400;
}
.tangbamono17-bold {
  font-family: "TangbaMono17", monospace;
  font-weight: 700;
}
.tangbamono18 {
  font-family: "TangbaMono18", monospace;
  font-weight: 400;
}
.tangbamono18-bold {
  font-family: "TangbaMono18", monospace;
  font-weight: 700;
}
.tangbamono19 {
  font-family: "TangbaMono19", monospace;
  font-weight: 400;
}
.tangbamono19-bold {
  font-family: "TangbaMono19", monospace;
  font-weight: 700;
}
.tangbamono20 {
  font-family: "TangbaMono20", monospace;
  font-weight: 400;
}
.tangbamono20-bold {
  font-family: "TangbaMono20", monospace;
  font-weight: 700;
}
.tangbamono21 {
  font-family: "TangbaMono21", monospace;
  font-weight: 400;
}
.tangbamono21-bold {
  font-family: "TangbaMono21", monospace;
  font-weight: 700;
}
.tangbamono22 {
  font-family: "TangbaMono22", monospace;
  font-weight: 400;
}
.tangbamono22-bold {
  font-family: "TangbaMono22", monospace;
  font-weight: 700;
}
.tangbamono23 {
  font-family: "TangbaMono23", monospace;
  font-weight: 400;
}
.tangbamono23-bold {
  font-family: "TangbaMono23", monospace;
  font-weight: 700;
}
.tangbamono24 {
  font-family: "TangbaMono24", monospace;
  font-weight: 400;
}
.tangbamono24-bold {
  font-family: "TangbaMono24", monospace;
  font-weight: 700;
}
.tangbamono25 {
  font-family: "TangbaMono25", monospace;
  font-weight: 400;
}
.tangbamono25-bold {
  font-family: "TangbaMono25", monospace;
  font-weight: 700;
}

